
 *{
   color:white
 }
.header {
  background-color: #f1f1f1;
}

h2{
  margin-top: 0px;
}

.column {
  float: left;
  width: 24.5%;
}

#center {
  width: 49%;
  margin: 0px 1%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

div{
  margin-bottom: 20px;
}
  
  /* Style the header */
body>div{
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px 5%; 
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bloque{
  border: 5px solid red;
  background-color: rgb(113, 0, 243);
  padding: 20px;
  box-sizing: border-box
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(65, 0, 243);
}

.nav a{
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: purple;
  color: white;
}

.media {
  float:left;
  margin-right: 10px;

}

.image {
  width:200px;
  height:200px;
}

.video {
  width:600px;
  height:240px;
}

#icon {
    width:48px;
    height:48px;
}
  